body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   background-color: #FAFAFA;
   margin: 0px;
}
header {
   width: 100%;
   background-color: Gray;
   color: black;
   margin: 0px;
   padding: 0px 12px;
}

.page-title {
   font-size: 200%;
}

.title-first-word {
   font-weight: bold;
   font-size: 150%;
}

.main-menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   float: right;
}

.main-menu li {
   float: left;
   margin: 0px;
}

.main-menu li a {
   display: block;
   text-align: center;
   padding: 8px 40px;
   text-decoration: none;
   color: black;
   font-size: 200%;
}

.main-menu .user-auth {
   display: block;
   text-align: center;
   padding: 4px 30px;
   color: black;
   font-size: 120%;
   line-height: 70%;
   height: 100%;
}

.main-menu .user-auth a {
   text-decoration: none;
   color: black;
   font-size: 120%;
}

.main-menu li:hover {
   background-color: Gainsboro;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background: ghostwhite url("./images/GrandfatherMtnBackground.png") no-repeat left bottom;
    overflow: hidden;
    max-width: 1200px;
}

.main-content {
   float: left;
}

.documentary-view {
   width: 800px;
   padding: 12px;
}

.thumbnail-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
.thumbnail-list li {
   float: left;
   margin: 0px;
}
.thumbnail-list li a {
   display: block;
   text-align: center;
   padding: 8px 20px;
   text-decoration: none;
}
.thumbnail-list li:hover {
   opacity: 0.5;
}

.thumbnail {
   width: 150px;
}

.right-sidebar {
   min-width: 200px;
   padding: 20px 6px 0px 0px;
   height: 550px;
   position: relative;
}

.right-sidebar h1 {
   font-weight: bold;
   font-size: 200%;
   padding: 0px;
   margin: 3px 0px;
}

.right-sidebar h2 {
   font-weight: 120%;
   font-size: 140%;
   padding: 0px;
   margin: 0px;
}

.tags {
   font-size: 140%;
   text-transform: uppercase;
   margin: 6px 0px;
}

.discover {
   position: absolute;
   bottom: 8px;
   right: 16px;
}

.discover a {
   padding: 0px 6px 12px 0px;
   text-decoration: none;
   color: black;
   font-size: 120%;
}

p.comment {
    position: relative;
    left: 12px;
}
