{% extends "documentaries/base.html" %}

{% block main_content %}
<img src="{{ documentary.file_location }}" class="documentary-view">
<hr>
<ul class="thumbnail-list">
<li><a href=""><img src="https://docs.google.com/uc?id=0BwaKH9T_uESEekpFSi1wWGxVUTA" class="thumbnail"></a></li>
<li><a href=""><img src="https://docs.google.com/uc?id=0BwaKH9T_uESEekpFSi1wWGxVUTA" class="thumbnail"></a></li>
<li><a href=""><img src="https://docs.google.com/uc?id=0BwaKH9T_uESEekpFSi1wWGxVUTA" class="thumbnail"></a></li>
<li><a href=""><img src="https://docs.google.com/uc?id=0BwaKH9T_uESEekpFSi1wWGxVUTA" class="thumbnail"></a></li>
</ul>
{% endblock %}

{% block right_sidebar %}
<div class="documentary-information">
   <h2>Featured Human</h2>
   <h1>{{ documentary.subject }}</h1>
   <p>{{ documentary.description }}</p>
   <p>Transcript</p>
   <p class="tags">{{ documentary.tags }}</p>
   <h3>Comments ({{ comment_list|length }})</h3>
   {% for c in comment_list %}
      <p class="comment"> {{ c.comment }} </p>
   {% endfor %}
</div>
<div class="discover">
   <a href="/search">discover more stories...</a>
</div>
{% endblock %}
