<h1>Documentaries (<a href="{% url 'documentaries:create' %}">+</a>)</h1>
{% if documentary_list %}
<ul>
  {% for documentary in object_list %}
  <li><a href="{% url 'documentaries:detail' documentary.id %}">{{ documentary }}</a> (
    <a href="{% url 'documentaries:update' documentary.id %}">update</a>) (
    <a href="{% url 'documentaries:delete' documentary.id %}">delete</a>)</li>
  {% empty %}
  <li>No documentaries yet.</li>
  {% endfor %}
</ul>
{%else%}
<p>No Documentaries are available.</p>
{% endif %}
